/*
    creactor: puxiao.wh
    time: 2016-8-19
    des: 样式变量集
*/ 

// 基本字体
$size: 13px;

$size-little: 12px;

$size-bigger: 14px;

$color-b1-1: #414755;

$color-b1-2: #505667;


$color-b1-6: #009688;

$color-b1-9: #0096A6;

$color-b2-1: #000000;

$color-b2-2: #7FCBC4;

$color-b2-3: #009688;

$color-b2-6: #009688;

$color-b7-6: #000000;

$color-b7-9: #000000;

$color-n1-1: #FFFFFF;

$color-n1-2: #F7F8FA;

$color-n1-3: #F2F3F7;

$color-n1-4: #EBECF0;

$color-n1-5: #E6E7EB;

$color-n1-6: #DCDEE3;

$color-n1-7: #C4C6CF;

$color-n1-8: #A0A2AD;

$color-n1-9: #000000;

$color-n2-1: #CCCCCC;

$color-n2-2: #999999;

$color-n2-3: #666666;

$color-n2-4: #333333;

$color-f1-1: #FFA033;

$color-f1-2: #FFF1E8;

$color-f1-3: #EB7E10;

$color-f2-1: #FF3333;

$color-f2-2: #FAE7E7;

$color-f2-3: #E61C1C;

$color-f3-1: #1DC11D;

$color-f3-2: #E8F9E8;

$color-f3-3: #0DA80D;

$color-f4-1: #2192D9;

$color-f4-2: #0B70AF;

$color-f4-3: #0073bd;

$color-transparent: transparent;

$color-n1-10: #deeded;

$color-n2-5: #222222;

$color-f5-1: #0089FD;

$color-f5-2: #DAEEFF;

$color-f5-3: #306AC9;

$color-f6-1: #0089FD;

$color-f6-2: #DAEEFF;

$color-f6-3: #306AC9;

// $border: 1px solid $color-grey-border;